venv
waveform.vcd
.vscode
doc/.obsidian/app.json
doc/.obsidian/appearance.json
doc/.obsidian/core-plugins-migration.json
doc/.obsidian/core-plugins.json
doc/.obsidian/workspace.json
doc/.obsidian/community-plugins.json
doc/.obsidian/plugins/*
vivado*
hs_err_*
doc/Computer Organization and Design RISC-V edition.pdf
Masimulator
Masimulator-master
riscv_sv-main
mux_IVAR.xml
doc/.DS_Store
.DS_Store
obj_dir
.Xil
instruction_mem_temp.mem
instruction_mem_raw.mem
src/instruction_mem.mem
vga_one.mem
vga_zero.mem
AssembleRisc
script/instruction_mem_temp.txt
script/assembly.s
src/root.sv
test/tb_root.sv
