venv
waveform.vcd
.vscode
doc/.obsidian/app.json
doc/.obsidian/appearance.json
doc/.obsidian/core-plugins-migration.json
doc/.obsidian/core-plugins.json
doc/.obsidian/workspace.json
doc/.obsidian/community-plugins.json
doc/.obsidian/plugins/*
vivado*
hs_err_*
doc/Computer Organization and Design RISC-V edition.pdf
Masimulator-master
riscv_sv-main
mux_IVAR.xml
